---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
const posts = await getCollection("blog");
const pageTitle = "Home";
---


		<Layout title="Home">
		<h1>Astro</h1>
		{
			posts.map((post) => {
				return (
					<article>
						<h2>
							<a href=`/blog/${post.slug}`>{post.data.title}</a>
							</h2>
							</article>
				);
			})
		}
	</Layout>
