---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Resumé">
    <article class="p-3 prose">
        <h2>Profile</h2>
        <div
            class="my-2.5 py-2.5 last:border-0 border-b-2 border-gray-300 dark:border-gray-700">
            <details class="group">
                <summary
                    class="list-none after:content-['▸'] after:transform group-open:after:rotate-90 after:transition-all duration-50 after:inline-block">
                    <span class="text-xl font-serif">Job Title</span>
                </summary>
                I did a cool thing.
            </details>
        </div>
    </article>
</Layout>
