---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import { Icon } from "astro-icon";
---

<header class="z-10 items-center bg-red-200 grid-in-header">
    <div class="flex items-center justify-between h-full">
        <button
            class="bg-purple-200 justify-start h-full p-3 2xl:p-4 transition-all duration-75 hover:bg-purple-300">
            <Icon name="mdi:menu" class="h-5 w-5" />
        </button>
    </div>
</header>
