---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import { Icon } from "astro-icon";
---

<header class="z-10 items-center bg-red-200 grid-in-header">
    <div class="flex items-center justify-between h-full">
        <button
            class="bg-purple-200 justify-start h-full p-3 2xl:p-4 transition-all duration-75 hover:bg-purple-300 lg:hidden"
            aria-label="Mobile Sidebar Toggle Button">
            <Icon
                name="mdi:menu"
                class="h-5 w-5"
                aria-label="Sidebar toggle logo"
            />
        </button>
        <nav class="items-center hidden h-full space-x-3 lg:flex">
            <a
                href="/"
                class=`h-full p-3 hover:bg-red-300 ${currentPath === "" ? "border-b-2 border-blue-400" : ""}`
                >Home</a
            >
            <a
                href="/resume/"
                class=`h-full p-3 hover:bg-red-300 ${currentPath === "resume/" ? "border-b-2 border-blue-400" : ""}`
                >Resume</a
            >
        </nav>
        <button
            class="bg-purple-200 justify-end h-full p-3 2xl:p-4 transition-all duration-75 hover:bg-purple-300"
            @click="darkMode = !darkMode">
            <Icon name="mdi:white-balance-sunny" class="h-5 w-5" />
        </button>
    </div>
</header>
